.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App-content {

}

.platform-section {
      
}


.monitor-group {

}

.group-title {

}

.node-list {
  list-style: none;
  padding: 5px;
  margin: auto;
  border: 1px solid #eee;
  max-width: 320px;
}

.node-item {
  padding: 0;
  margin: 10px;
  border: 1px solid #eee;
  padding: 15px;
  background-color: #efefef;
}
